.escudo{
  background-color:  #003444;
  color: #FFC500;
}
.escudo:hover{
  color: #FFC500;
}

.color-nav{
  background-color: #003444;
}

.color-bar{
  color: #FFC500;
}
.sidebar{
    background-color:  #003444;
}
